html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
.wrapper {
	max-width: 1140px;
	margin: 0 auto;

}

#slider {
	position: relative;
	margin: 0 0 50px 0;
	line-height: 500px;
	overflow: hidden;
    height: 500px;
  
}

#slider ul li {
	background: #fed300;
	height: 500px;
}

#slider ul li {
	background: url("img/1.jpg");
	background-size: cover;
}

#slider ul li.second {
	background: url("img/2.jpg");
	background-size: cover;
}

#slider ul li.third {
	background: url("img/3.jpg");
	background-size: cover;
}

#slider ul li.fourth {
	background: url("img/4.jpg");
	background-size: cover;
}

#slider .arrow {
	position: absolute;
	color: #fff;
	background: #000;
	text-align: center;
	font-size: 2rem;
	right: 200px;
	line-height: 50px;
	border-radius: 50%;
	cursor: pointer;
	width: 50px;
	height: 50px;
}

#slides {
	position: relative;
}

#slider #up {
	top: 50px;
	z-index: 1;
}

#slider #down {
	bottom: 50px;
	z-index: 1;
}

#slider .header-text {
	display: inline-block;
	padding: 10px 30px;
	font-size: 2rem;
	background: #000;
	color: #fff;
}

#animal-selector {
	text-align: center;
}

input {
	display: none;
}

#animal-selector input:checked + label {
	background: red;
}

#animal-selector label {
	position: relative;
	display: inline-block;
	margin: 0 2% 0 0;
	background: #4e9fbe;
	width: 50px;
	height: 50px;
}

#animal-selector label i {
	display: none;
	position: absolute;
	right: -10px;
	top: -10px;
	padding: 10px;
	border-radius: 50%;
	background: #30e42c;
	color: #fff;
}

#animal-selector input:checked + label i {
	display: block;
	-webkit-animation: zoomIn 0.2s;
}

/*footer*/
#master-footer {
	padding: 50px;
	text-align: center;
	color: #fff;
	background: #555;
}

#animal-selector label:hover {
	background-color: #d3e7fa;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

